*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* background: aqua; */
    
}

main{
    /* background:rgb(112, 8, 8); */
    width:70%;
    margin-left: 15%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;

}

h1{
    color:rgb(179, 78, 138);
    font-family: 'Fredoka One', cursive;
    margin:30px 0;
}



/* l'insieme di badges */
.personale{
    width:100%;
    margin-top: 5%;
}

.badge{
    background: #000;
    margin:20px 2.5%;
    height:90px;
    /* line-height: 90%;
    vertical-align: middle; */
    width: calc(85%/3);
    text-align: left;
    float: left;
    overflow-y: hidden;

}

.clearfix{

}

img{
    height:100%;
    float: left;
    /* questo float sposta l'immagine dentro al badge.
    serve per poter scrivere in alto il nome. */
    margin-right: 15p  x;
}



.nome{
    color: white;
    margin-top: 7px;

}


.professione{
    color: grey;
    font-size: 11px;

}

a{
    font-size: 70%;
    text-decoration: none;
    color: aqua;
}

